.mainContent{
    margin-top:5%;
    
}

#loginContainr{
    padding-top:4%;
    background-color:white;
    border-color: #ccc;
	-webkit-box-shadow: 0px 2px 3px 3px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 2px 3px 3px rgba(0,0,0,0.2);
	box-shadow: 0px 2px 3px 3px rgba(0,0,0,0.2);
}

#loginHeader{
    font-style: italic;
    font-weight: bold;
}
#headerSeperator{
    margin-bottom:10%;
}

#loginbtn{
    margin-top:8%;
    margin-bottom:10%;
}

#loginpop{
    font-size: 10px;
}
